body {
 background-image: url(images/bg.jpg);
 background-color: #c7b39b;
}
header{
  width: 1000px;
  margin: 0 auto;
}
.container{
  width: 100%;
  background-color: red;
  float: left;
}

.index-logo{
  width: 100px;
  padding-top: 0px;
  background-color: green;
}
.main-navigation {
  margin-bottom: 80px;
      margin-left: 500px;
      background-color: white;
]
